<div class="mdl-grid">

    <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--2dp">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <h4 class="mdl-cell mdl-cell--12-col">{{'FORMATION.BLOC1.TITRE' | translate}}</h4>
            <div class="section__text mdl-cell mdl-cell--12-col" data-ng-bind-html="'FORMATION.BLOC1.PART1' | translate | htmlSafe">
            </div>
        </div>
    </div>

    <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--2dp">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <h4 class="mdl-cell mdl-cell--12-col">{{'FORMATION.BLOC2.TITRE' | translate}}</h4>
            <div class="section__text mdl-cell mdl-cell--12-col" data-ng-bind-html="'FORMATION.BLOC2.PART1' | translate | htmlSafe">                
            </div>
        </div>
    </div>

    <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <h4 class="mdl-cell mdl-cell--12-col">{{'FORMATION.BLOC2.TITRE' | translate}}</h4>
            <div class="section__text mdl-cell mdl-cell--12-col" data-ng-bind-html="'FORMATION.BLOC3.PART1' | translate | htmlSafe">
            </div>
        </div>
    </div>
</div>