<div class="mdl-grid">

    <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--2dp">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <h4 class="mdl-cell mdl-cell--12-col">Diplômes délivrés</h4>
            <div class="section__text mdl-cell mdl-cell--12-col">
                <ul class="mdl-list">
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">chevron_right</i>
                            Licence MIASHS parcours MIAGE
                        </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">chevron_right</i>
                            Master MIAGE IDP - Ingénierie des Données et Protection
                        </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">chevron_right</i>
                            Master MIAGE ITN - Ingénierie de la Transformation Numérique
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--2dp">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <h4 class="mdl-cell mdl-cell--12-col">Modalité de formation</h4>
            <div class="section__text mdl-cell mdl-cell--12-col">
                <ul class="mdl-list">
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">chevron_right</i>
                            En formation initiale
                        </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">chevron_right</i>
                            En alternance : apprentissage, contrat de professionnalisation, période de professionnalisation
                        </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">chevron_right</i>
                            En cours du soir
                        </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">chevron_right</i>
                            À distance (e-miage)
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <h4 class="mdl-cell mdl-cell--12-col">Contacts</h4>
            <div class="section__text mdl-cell mdl-cell--12-col">
                Université Paul Sabatier Toulouse III
                <br> Secrétariat MIAGE
                <br> Bâtiment U3 porte 110 – 118 route de Narbonne
                <br> 31062 – Toulouse Cédex
                <br> Tél : 05.61.55.67.68
                <br> En faisant parvenir un mail au
                <a href="mailto:contact@toulouse.miage.fr?subject=Demande%20dossier%20alternance">Secrétariat de la MIAGE Toulouse</a>
            </div>
        </div>
    </div>
</div>