<div class="mdl-grid">
    <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <h4 class="mdl-cell mdl-cell--12-col">L'alternance à la MIAGE de Toulouse</h4>
            <div class="section__text mdl-cell mdl-cell--12-col">
                Trois possibilités sont offertes :
                <ul class="mdl-list">
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">chevron_right</i>
                            Soit en L3 pour une durée d’un an
                        </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">chevron_right</i>
                            Soit en 1ère année de Master, pour une durée de deux ans
                        </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">chevron_right</i>
                            soit en 2ème année de Master pour une durée d'un an
                        </span>
                    </li>
                </ul>
            </div>
            <div class="section__text mdl-cell mdl-cell--12-col">
                Dans le cadre de l’alternance, le cursus de Master faisant suite à une année de licence est le plus complet, puisque les
                diplômés peuvent faire valoir une expérience professionnelle de trois ans. En fin de parcours, le contrat
                d’alternance joue le rôle d’une période d’essai et facilite l’entrée des jeunes diplômés dans la vie active.
            </div>
        </div>
    </div>

    <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <h4 class="mdl-cell mdl-cell--12-col">Principales thématiques traitées en Licence et Master MIAGE</h4>
            <div class="section__text mdl-cell mdl-cell--12-col">
                <ul class="mdl-list">
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">chevron_right</i>
                            Sciences et Technologies de l’Informatique :
                            <br> Conception et programmation objet, Architecture et systèmes, Outils mathématiques, Réseaux et
                            services, Bases de données, Applications Web, Entrepôts de données dynamiques, Fouilles de données
                            et intelligence économique., Systèmes d’information répartis, Architectures Orientées Services
                            et Orientées Web, Applications d'Entreprise, Infrastructure des réseaux d’entreprises et sécurisation,
                            Approches Cloud, Big Data, Sécurité, Sécurisation
                        </span>
                    </li>
                    <li class="mdl-list__item" style="padding-top: 20px;">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">chevron_right</i>
                            Ingénierie des Systèmes d’information :
                            <br> Méthodes systémiques, Méthodes agiles, Modélisation et optimisation, Approche processus, Conduite
                            de Projets, Méthodologies orientées processus , Gestion du Changement, Démarche qualité, Urbanisation
                            des S.I., Intégration continue, Transformation numérique
                        </span>
                    </li>
                    <li class="mdl-list__item" style="padding-top: 20px;">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">chevron_right</i>
                            Gestion des Entreprises et Organisations :
                            <br> Economie industrielle, Droit du travail, Gestion financière, Aide à la décision, Gestion des
                            ressources humaines, Marketing, Gestion de la production, Droit de l’informatique et audit, Gouvernance
                            des SI
                        </span>
                    </li>
                    <li class="mdl-list__item" style="padding-top: 20px;">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">chevron_right</i>
                            Professionnalisation :
                            <br> Missions en entreprise, Communication professionnelle, communication interpersonnelle, développement
                            des Softskills , Projets collaboratifs, Projets innovant, Entrepreneuriat
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <h4 class="mdl-cell mdl-cell--12-col">Quelques missions de Miagistes en entreprise</h4>
            <div class="section__text mdl-cell mdl-cell--12-col">
                <ul class="mdl-list">
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">chevron_right</i>
                            Progiciel de Gestion ERP : SAP, CRM
                        </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">chevron_right</i>
                            Ingénierie des S.I, conduite du changement
                        </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">chevron_right</i>
                            Refonte de processus métiers, automatisation de workflow
                        </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">chevron_right</i>
                            Interventions en Front Office/Back Office, Off shoring, TMA, MOA
                        </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">chevron_right</i>
                            Industrialisation de Process, Qualité de services, ITIL, CMMi, indicateurs de performance
                        </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">chevron_right</i>
                            Applications WEB, E-business, e-commerce, multi-devices
                        </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">chevron_right</i>
                            Informatique décisionnelle, Bases multidimensionnelles
                        </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">chevron_right</i>
                            Analyse, conception, design UML, normes qualités en conception/développement
                        </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">chevron_right</i>
                            Architectures orientés services, Mashup
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>