<div class="mdl-grid">
    <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <h4 class="mdl-cell mdl-cell--12-col">{{'ACCUEIL.BLOC1.TITRE' | translate}}</h4>
            <div class="section__text mdl-cell mdl-cell--12-col" data-ng-bind-html="'ACCUEIL.BLOC1.PART1' | translate | htmlSafe">
            </div>
            <div class="section__text mdl-cell mdl-cell--12-col" data-ng-bind-html="'ACCUEIL.BLOC1.PART2' | translate | htmlSafe">
                <br>
                <br>
            </div>
            <div class="section__text mdl-cell mdl-cell--12-col" data-ng-bind-html="'ACCUEIL.BLOC1.PART3' | translate | htmlSafe">
            </div>
        </div>
    </div>

    <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <h4 class="mdl-cell mdl-cell--12-col">{{'ACCUEIL.BLOC2.TITRE' | translate}}</h4>
            <div class="section__text mdl-cell mdl-cell--12-col" data-ng-bind-html="'ACCUEIL.BLOC2.PART1' | translate | htmlSafe">
            </div>
            <div class="section__text mdl-cell mdl-cell--12-col">
                {{'ACCUEIL.BLOC2.PART2' | translate}}
            </div>
        </div>
    </div>

    <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <h4 class="mdl-cell mdl-cell--12-col">{{'ACCUEIL.BLOC3.TITRE' | translate}}</h4>
            <div class="section__text mdl-cell mdl-cell--12-col" data-ng-bind-html="'ACCUEIL.BLOC3.PART1' | translate | htmlSafe">
            </div>
            <div class="section__text mdl-cell mdl-cell--12-col" data-ng-bind-html="'ACCUEIL.BLOC3.PART2' | translate | htmlSafe">
            </div>
        </div>
    </div>
</div>