<div class="mdl-tabs" mdl-upgrade>
    <div class="mdl-tabs__tab-bar">
        <a href="#!alternance/information" class="mdl-tabs__tab">Information</a>
        <a href="#!alternance/offre" class="mdl-tabs__tab is-active">Offre de stage/alternance</a>
    </div>
</div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Liste des offres de stage/alternance</h2>
        </div>
        <div class="mdl-card__table">
            <table class="mdl-data-table mdl-js-data-table">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Sujet</th>
                        <th class="mdl-data-table__cell--non-numeric">Societe</th>
                        <th class="mdl-data-table__cell--non-numeric">Type</th>
                        <th class="mdl-data-table__cell--non-numeric">Détails</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="offre in offres">
                        <td class="mdl-data-table__cell--non-numeric">{{offre.Sujet}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{offre.NomSociete}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{offre.Type}}</td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="offreDetail(offre.OffreID)">
                                <i class="material-icons">more_horiz</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="padding: 16px;" class="mdl-card__actions mdl-card--border">
            Nombre d'offres enregistrés : {{offres.length}}
        </div>
    </div>
</div>