<div class="mdl-layout--fixed-header">

    <header class="mdl-layout__header navbar-background-color-500">

        <div class="mdl-layout__header-row">

            <div class="navbar-separator navbar-separator-color-700"></div>

            <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">home</i>
            </button>

            <div class="navbar-separator navbar-separator-color-700"></div>

            <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">arrow_back</i>
            </button>

            <div class="navbar-separator navbar-separator-color-700"></div>

            <span class="mdl-layout-title mdl-layout-subtitle">
                Accueil
            </span>

            <span class="mdl-layout-title mdl-layout-subtitle">

            </span>

            <div class="mdl-layout-spacer"></div>

            <div class="navbar-actions">

            </div>

        </div>

    </header>
</div>