.container {
    display:flex;
    flex-direction: column; 
    align-items:center;    
    text-align: center;
    padding-top: 50px;
}

.login {
    width: 350px;
}
  
.login .mdl-card__title {
    color: #212121;
    flex-direction: column;
    padding-bottom: 0px;
}

.login .mdl-card__title img {
    align-self: flex-start;
    width: 125px;
    height: 35px;
    margin: 15px 0px 20px 0px;
}

.login .mdl-card__title .mdl-card__title-text {
    align-self: flex-start;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
}

.login .mdl-card__title h3.mdl-card__title-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.login .mdl-card__supporting-text {
    margin-top : 20px;
}

.login .mdl-card__supporting-text form .mdl-textfield {
    width: 100%;
}

.mdl-textfield.is-focused .mdl-textfield__label {
    color: #2196F3;
}

.mdl-textfield__label:after{
    background-color: #2196F3;
}

.mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
    color: #2196F3;
}

.login-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-button button,a {
    margin-top: 15px;
    color: #2196F3;
}

.login-button a {
    text-decoration: none;
}

.offre .mdl-card__title {
    color: #212121;
    flex-direction: column;
    padding-bottom: 0px;
}

.offre {
    width: 450px;
}

.offre .mdl-card__title img {
    align-self: flex-start;
    width: 125px;
    height: 35px;
    margin: 15px 0px 20px 0px;
}

.offre .mdl-card__title .mdl-card__title-text {
    align-self: flex-start;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
}

.offre .mdl-card__title h3.mdl-card__title-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.offre .mdl-card__supporting-text {
    margin-top : 20px;
}

.offre .mdl-card__supporting-text form .mdl-textfield {
    width: 100%;
}